/* General */
@media screen and (max-width: 1200px) { /* or any breakpoint you choose */
    body {
        font-size: 14px; /* a smaller font size */
    }
  }

#custom-content p{
  margin-bottom:1em;
}

#custom-content h1{
  margin-bottom:1em;
}
#custom-content h2{
  margin-bottom:1em;
}
#custom-content h3{
  margin-bottom:1em;
}
#custom-content h4{
  margin-bottom:1em;
}

/* Circle Icon */
.circle-icon {
  width: 100px; /* Size of the circle */
  height: 100px; /* Size of the circle */
  border-radius: 50%; /* Makes the div circular */
  background-color: #23ca55; /* Background color of the circle */
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
}

.circle-icon.green{
  background-color: #23ca55; /* Background color of the circle */
}
.circle-icon.red{
  background-color: #ca3c23; /* Background color of the circle */
}

.circle-icon img {
  width: 40%; /* Size of the icon */
  height: auto; /* Keep the aspect ratio of the icon */
  filter: invert(99%) sepia(6%) saturate(261%) hue-rotate(299deg) brightness(117%) contrast(100%);
}

/* Bullets */ 
ul.customBullets {
  list-style: none; /* Removes default bullets */
  padding-left: 0; /* Removes default padding */
}

ul.customBullets li {
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  margin-bottom: 10px; /* Spacing between list items */
  margin-left:40px
}

ul.customBullets li::before {
  content: '•'; /* The bullet character */
  color: #00749E; /* The color of the bullet */
  font-size: 40px; /* Size of the bullet */
  position: absolute; /* Positioning relative to the li element */
  left: -40px; /* Distance from the left edge of the li element */
  top: 0; /* Align with the top of the li element */
}

/* Category Selector */ 
#categoryDiagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.categoryItem {
  cursor: pointer;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 15px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.categoryItem:hover {
  background-color: #e9e9e9;
  transform: scale(1.05);
}
#categoryInfo {
  border: 1px solid #ddd;
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  display: flex;
  align-items: stretch; /* Align items to stretch to fill the container */
}


.infoContent {
  display: flex;
  align-items: stretch; /* Stretch children to fill the height */
  width: 100%; /* Ensure full width */
}
.infoContent p {
  padding:.5em 0;
}

#infoImage {
  width: 150px; /* Adjust as needed */
  height: 100%; /* Set height to 100% of parent */
  object-fit: cover; /* Keep aspect ratio of image */
  border-radius: 8px; /* Optional: for rounded corners */
  margin-right: 20px;
}


.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Evenly distribute space */
  flex-grow: 1;
}

.textInfo h2, .textInfo p {
  margin: 0; /* Remove default margins */
  padding: 5px 0; /* Add some padding for spacing */
}

/* 2 col Grid */
.grid-container-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* space between grid items */
}

.grid-item {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  padding: 10px; /* Padding around grid items */
}
.grid-text{
  display: flex;
  flex-flow: column;
  padding-left: 1rem;
  justify-content: space-between;
}

.text p {
  margin: 0; /* Remove default paragraph margin */
  /* Additional text styling as needed */
}

/* Accordion */
#accordion .accordion-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.accordion-header {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  padding: 15px;
  position: relative;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
}

.accordion-header:hover, .accordion-header.active {
  background-color: #e9e9f3;
}

.accordion-header h2 {
margin: 0;
}

.accordion-header::after {
content: '';
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%) rotate(45deg);
border: solid #333;
border-width: 0 2px 2px 0;
display: inline-block;
padding: 3px;
transition: transform 0.

3s ease;
}

.accordion-header.active::after {
transform: translateY(-50%) rotate(-135deg);
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.3s ease;
  display: block;
  max-height: 0; /* Ensure it starts closed */
}

.inner-content {
  padding: 15px; /* Moved padding here */
}


.accordion-content p {
margin: 0;
}